@charset "utf-8";
@font-face {
    font-family: 'Montserrat';
    src: url('.\assets\fonts\Montserrat-Regular.ttf');
}

*{
    box-sizing: border-box;
}

body{
    margin: 0rem;
    padding: 0rem;
    font-family: 'Montserrat',Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid black; 
    padding: 0 0.5rem;
}

header img {
    margin-left: 0.5rem;
}

header p{
    display: inline-block;
    margin-right: 0.5rem;
}

.navbar ul {
    list-style-type: none;
    background-color: hsl(0, 0%, 25%);
    overflow: hidden;
    padding: 0rem;
    margin: 0rem;
}

.navbar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 1rem;
    text-align: center;
    
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.navbar li {
    float:left;
}

main {
    margin: 10px;
}

section:not(section section) {
    width: 70%;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

h1{
    text-align: center;
    clear: both;
}

/* descendant selector */
div p {
    background-color: aquamarine;
    border: 1px solid aqua;
    border-radius: 5px;
}
/* child selector */
div > address {
    background-color: orange;
        border: 1px solid orangered;
        border-radius: 5px;
    }
/* general sibling selector */
ul ~ li {
    background-color: blueviolet;
    color: white;
    border: 1px solid blueviolet;
    border-radius: 5px;
}
/* adjacent sibling selector */
dl + dt {
    background-color: rgb(156, 158, 60);
        color: white;
        border: 1px solid rgb(156, 158, 60);
        border-radius: 5px;
}